# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtual environment (created by install.sh on the target machine)
.venv/
venv/
env/

# OS / editor
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
